<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <!-- Use Flask's url_for to correctly link the static CSS file -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="{{url_for('static' , filename = 'style.css')}} " rel="stylesheet" />
</head>
<body>
    <form method="POST" action="/register">
        <h1>Register</h1>
        <label>Username:</label><input type="text" name="username" required>
        <label>Email:</label><input type="email" name="email" required>
        <label>Password:</label><input type="password" name="password" required>
        <button type="submit">Register</button>
        <button id="back_btn" onclick="window.location.href='/'" >&larr; Back</button>
    </form>
</body>
</html>
