{% extends  "layout.html" %}
{% block body %} 

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static' , filename = 'assets/img/post-bg.jpg')}}' ) ">
                

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading">{{post.slug}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1>Welcome to My Post Page.</h1>                       
                        <p> The error occurs because you're trying to use the posts variable without properly defining it as a query result from the Posts model in the dashboard function. Here's the corrected code: </p>
                        <p>{{post.content}}</p>
                    </div>
                </div>
            </div>
        </article>


{% endblock %}